h1{
    color:#313030;
    text-align: center;
    font-family: Georgia, serif;
  }
p1{
    color: #313030;
    text-align: center;
    font-family: Georgia, serif;
}
p3{
    color: #313030;
    text-align: center;
    font-family: Georgia, serif;
}
p5{
    color: #313030;
    text-align: center;
    font-family: Georgia, serif;
}
p6{
    color: #313030;
    text-align: center;
    font-family: Georgia, serif;
}
p7{
    color: #313030;
    text-align: center;
    font-family: Georgia, serif;
}
p8{
    color: #313030;
    text-align: center;
    font-family: Georgia, serif;
}
p9{
    color: #313030;
    text-align: center;
    font-family: Georgia, serif;
}
body{
      color:#313030;
      text-align: center;
      font-family: Georgia, serif;
}
.centerimage{
    display: block;
    margin-left: 500px;
    margin-right: auto;
    width: relative;
}
body{
  text-align: center;
}
.linksmall{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
}
.linkbig{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.socials{
  border-left: 200;
  float: left;
  display: block;
  margin-top: 30px;
  padding-left: 15px;
}
.socialsbottom{
    margin-left: auto;
    margin-right: auto;
    width: relative;
    padding-left:130px;
    padding-right: 130px;
}
.otherbottom{
    margin-left: auto;
    margin-right: auto;
    width: relative;
    padding-left: 100px;
    padding-right: 100px;
}
.left{
    text-align: left;
}
.menu div 
{
    padding: 15px;
}
.menu figure 
{
    display: inline-block;
    width:300px;
}
.menu a img
{
    height:auto; 
}
.middle
{
    margin-left: auto;
    margin-right: auto;
}